<template>
  <div class="main-answer">
    <v-card class="pl-8 pr-8 pb-4 main-answer-card">
      <v-card-title class="pl-0 pb-0">Проверьте себя!</v-card-title>
      <input
        type="text"
        v-for="(item, index) in mainAnswer.answer"
        :key="index"
        :ref="'textfield' + index"
        @keyup="check()"
        :placeholder="item.mask"
      />
      <span
        >Ответы с десятичными значениями, пожалуйста, пишите через точку</span
      >
      <div class="d-flex justify-space-between main-answer-btns">
        <v-btn class="mb-4 mt-4 text-center" width="200">Я хз что делать</v-btn>
        <v-btn class="mb-4 mt-4 text-center" width="200"
          >Дальше <v-icon right>mdi-arrow-right</v-icon></v-btn
        >
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Answer",

  data: () => ({}),

  computed: {
    mainAnswer() {
      return this.$store.getters.task.mainAnswer;
    },
  },

  methods: {
    check() {
      if (
        this.mainAnswer.answer.firstVar.answer ==
        this.$refs.textfieldfirstVar[0].value
      ) {
        this.$refs.textfieldfirstVar[0].style = "background: #70e870";
      } else {
        this.$refs.textfieldfirstVar[0].style = "background: unset";
      }
      if (
        this.mainAnswer.answer.secondVar.answer ==
        this.$refs.textfieldsecondVar[0].value
      ) {
        this.$refs.textfieldsecondVar[0].style = "background: #70e870";
      } else {
        this.$refs.textfieldsecondVar[0].style = "background: unset";
      }
    },
  },
};
</script>

<style lang="scss">
.answer-valid {
  background: #70e870;
}
.main-answer-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input {
    border: 1px solid black;
    color: black;
    height: 32px;
    padding: 4px 0 4px 8px;
    border-radius: 12px;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .main-answer-btns {
    flex-direction: column;
    align-items: center ;
  }
  .main-answer-card {
    input {
      width: 90%;
    }
  }
}
</style>