<template>
  <v-card class="main-task pt-16 pl-8 pr-8 pb-4 d-flex">
    <div>
      <v-card-title class="pl-0 pb-0 pt-0">Условие:</v-card-title>
      <p>{{ mainTask.text }}</p>
    </div>

    <div class="main-task-image-block">
      <v-img :src="mainTask.pic" :width="width" max-width="100%">
        <v-icon @click="zoom" v-if="!zoomed" class="image-zoom">mdi-magnify-plus</v-icon>
        <v-icon @click="zoom" v-else class="image-zoom">mdi-magnify-minus</v-icon>
      </v-img>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "MainTask",

  data: () => ({
    width: 400,
    zoomed: false,
  }),

  computed: {
    mainTask() {
      return this.$store.getters.task.mainTask;
    },
  },

  methods: {
    zoom() {
      if (!this.zoomed) {
        this.width = this.width * 2;
        this.zoomed = true;
      } else {
        this.width = this.width / 2;
        this.zoomed = false;
      }
    },
  },
};
</script>

<style lang="scss">
.main-task {
  gap: 16px;

  p {
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
  .main-task-image-block {
    position: relative;
    max-width: 80%;
  }
}
.image-zoom{
  position: absolute !important;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .main-task {
    flex-direction: column;
    align-items: center;

    .main-task-image-block {
      max-width: 100%;
    }
  }
}
</style>
