<template>
  <v-expansion-panels style="position: fixed">
    <v-expansion-panel>
      <v-expansion-panel-header class="expansion-header-meta">
        <v-app-bar color="deep-purple accent-4" dense dark class="meta-app-bar">
          <div class="app-bar-info-meta">
            <v-img src="@/assets/zabotay.png" width="100" class="meta-app-bar-logo"></v-img>

            <span>Олимпиада {{ metaTask.meta.source }}</span>
            <span> Задача № {{ metaTask.meta.number }}</span>
            <span> Класс {{ metaTask.meta.grade }}</span>
            <span> Год {{ metaTask.meta.year }}</span>
          </div>
        </v-app-bar>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <!-- тут потом по-хорошему заменить на Autocomplete для подстановки существующих данных -->
        <div class="d-flex expansion-content-meta pt-4">
          <v-select label="Источник" dense></v-select>
          <v-select label="Год" dense></v-select>
          <v-select label="Класс" dense></v-select>
          <v-select label="Задача" dense></v-select>
          <v-btn>Сменить задачу</v-btn>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
export default {
  name: "Meta",

  data: () => ({
    sources: ["физтех", "1", "2", "3"],
  }),

  computed: {
    metaTask() {
      return this.$store.getters.task;
    },
  },
};
</script>

<style scoped lang="scss">
.app-bar-info-meta {
  display: flex;
  align-items: center;

  gap: 40px;
}
.expansion-header-meta {
  padding: 0;
}
.expansion-content-meta {
  display: flex;
  align-items: center;
  gap: 8px;
}


@media (max-width: 768px) {
.app-bar-info-meta{
  gap:8px
}
  
  .expansion-content-meta {
    flex-direction: column;

    .v-input {
      width: 100%;
    }
  }
  .meta-app-bar-logo{
    display: none;
  }
}
</style>