<template>
  <div class="main-solutions">
    <v-expansion-panels >
      <v-expansion-panel >
        <v-expansion-panel-header> Ответ </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div>
            <v-img :src="solutions.answer.pic" :width="width" max-width="100%">
              <v-icon @click="zoom" v-if="!zoomed" class="image-zoom"
                >mdi-magnify-plus</v-icon
              >
              <v-icon @click="zoom" v-else class="image-zoom"
                >mdi-magnify-minus</v-icon
              ></v-img
            >
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-header> Решение </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="d-flex main-solutions-solution">
            <p>{{ solutions.solution.text }}</p>
            <div>
              <v-img
                :src="solutions.solution.pic"
                :width="widthSolution"
                max-width="100%"
              >
                <v-icon
                  @click="zoomSolution"
                  v-if="!zoomedSolution"
                  class="image-zoom"
                  >mdi-magnify-plus</v-icon
                >
                <v-icon @click="zoomSolution" v-else class="image-zoom"
                  >mdi-magnify-minus</v-icon
                ></v-img
              >
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: "Solution",

  data: () => ({
    width: 500,
    widthSolution: 500,
    zoomed: false,
    zoomedSolution: false,
  }),

  computed: {
    solutions() {
      return this.$store.getters.task.mainSolution;
    },
  },

  methods: {
    zoom() {
      if (!this.zoomed) {
        this.width = this.width * 2;
        this.zoomed = true;
      } else {
        this.width = this.width / 2;
        this.zoomed = false;
      }
    },
    zoomSolution() {
      if (!this.zoomedSolution) {
        this.widthSolution = this.widthSolution * 2;
        this.zoomedSolution = true;
      } else {
        this.widthSolution = this.widthSolution / 2;
        this.zoomedSolution = false;
      }
    },
  },
};
</script>

<style lang="scss">
.main-solutions-solution {
  gap: 16px;
}

.main-solutions-expansion {
  background: #6200ea !important;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .main-solutions-solution {
    flex-direction: column;
  }
}
</style>