<template>
  <Task />
</template>

<script>
import { defineComponent } from "vue";

// Components
import Task from "../components/Task.vue";

export default defineComponent({
  name: "HomeView",

  components: {
    Task,
  },
});
</script>
