<template>
  <div class="main-task">
    <Meta/>
    <MainTask/>
    <Answer/>
    <Solution/>
  </div>
</template>

<script>
import MainTask from "./taskComponents/MainTask.vue";
import Meta from "./taskComponents/Meta.vue";
import Solution from "./taskComponents/Solution.vue";
import Answer from "./taskComponents/Answer.vue";

export default {
  name: "Task",

  data: () => ({}),

  computed: {
    // Получение задачи из store
    task() {
      return this.$store.getters.task;
    },
  },
  components: {
    Meta,
    Solution,
    MainTask,
    Answer,
  },
};
</script>
